<!-- Index shown when logged in

newest to oldest -->
<small>Welcome name!</small>
<a href="listings/new"><button>Add New Listing</button></a>
<a href=""><button>View My Listings</button></a>
<a href=""><button>View My Bids</button></a>
<br><br>
<h1>Listings</h1>
<hr>
<br><br>
<% @listings.each do |listing| %>
    <p>
    <%= listing.title %>
    <a href="listings/<%= listing.id %>"><button>View</button></a>
    </p>
<% end %>