<a href="/listings">Back to Listings</a>
<br><br><br>
<h1>New Listing</h1>
<br>
<form method="post" action="/listings">
<input type="hidden" name="user_id" value="<%= current_user.id %>">
<label>Title</label>
<br>
<input type="text" name="title"/>
<br><br>
<label>Description</label>
<br>
<textarea type="text" name="description" rows="4" cols="50"></textarea>
<br><br>
<input type="submit" value="Post Listing">
</form>