<h1> Signup </h1>
<a href="/login"><button>Back to Login</button></a>
<br>
<% if @error %>
   <% @error.each do |e| %>
      <h3> Error: <%=  e %> </h3>
   <%end %>
<%end %>
<br>
<form action='/signup' method="post">
    <label> Username </label>
    <input type=text name="username" />
    <label> Password </label>
    <input type=password name="password" />
    <input type=submit value="Submit" />


</form>